.Intro-container{
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    font-family: monospace;
    margin-top: 5%;
    max-width: 95%;
}
.past-project-container{
    font-family: monospace;
    margin-top: 5%;
    max-width: 95%;
    padding-bottom: 1em;
}
.intro-title{
    height: 1em;
    font-weight: 700;
    font-size: 5.2em;
    line-height: 53px;
    letter-spacing: 0.14em;
}
.stack-title{
    font-weight: 900;
    font-size: 1em;
    letter-spacing: 0.03em;
    text-align: start;
    padding-left: 6px;
}

.headline{
    height: 1em;
    font-weight: 700;
    font-size: 3.2em;
    line-height: 53px;
    letter-spacing: 0.03em;
    text-decoration: underline;
}
.intro-content{
    font-size: 1.4em;
}

.introButton{
    font-weight: 800;
    text-align: center;
    font-size: 1.2em;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    color: #36395A;
    font-family: "JetBrains Mono",monospace;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
}
.introButton:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.introButton:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.introButton:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

figure.snip1113 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1113 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

figure.snip1113 img {
    max-width: 85%;
    margin: 40px auto;
    display: block;
    position: relative;
    border: 3px solid #666666;
    padding: 15px 15px 85px 15px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

figure.snip1113 figcaption {
    position: absolute;
    height: 120px;
    bottom: 0px;
    left: 0;
    right: 0;
    display: block;
    letter-spacing: 0.3em;
}

figure.snip1113 h3 {
    background-color: #ffffff;
    color: #000000;
    font-size: 1.7em;
    width: 100%;
    padding: 5px 12px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}

figure.snip1113 h3 span {
    font-weight: 800;
}

figure.snip1113 h4 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -1px;
    opacity: 0.6;
    font-size: 1.1em;
}


.stack-title-container{
    align-items: center;
    background: #1A202C;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #FFFFFF;
    margin-left: 0.9em;
    padding-top: 4px;
    text-decoration: none;
    width: auto;
    border-radius: 8px;
    height: 2rem;
}
.text-grey{
    color:#2472a4;
}

.stack-list{
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1px;
    padding-top: 4px;
}

.heading-frame {
    box-shadow: 0 15px 20px rgba(0,0,0,0.4);
    grid-template-columns: max-content auto;
    grid-template-rows: auto max-content;
    background: #333 url('../../../clashRoyale.jpg') center;
    background-size: cover;
    width: 20rem;
    height: 21rem;
    padding-left: 4em;
    border-radius: 12px;
    margin-left: 1em;
}

.oop{
    background: #333 url('../../../objectOriented.jpg') center;
    background-size: contain;
}

.project-title{
    color: #ab3326;
    font-size: 1.2em;
    width: 100%;
    padding: 5px 12px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: underline;
}

.project-content{

    font-size: 1em;
    font-weight: bold;
}
.description-box{
    padding-top: 1em;
    align-content: center;
    margin-left: 2em;
}
.project-container{
    margin-top:1.2em;
}